---
// Click button, get confetti!
// Styled by Tailwind :)
---
<button class="py-2 px-4 bg-primary text-white font-semibold rounded-lg shadow-md hover:bg-primary/80 focus:outline-none focus:ring-2 focus:ring-primary/25 focus:ring-opacity-75">
	<slot />
</button>
